

{% load static %}

<style>
    @font-face {
        font-family: 'Baloo Bhai';
        src: url('{% static "fonts/BalooBhai2-Regular.ttf" %}?v=20240228') format('truetype');
    }

    body {
        font-family: 'Baloo Bhai', sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

   
</style>

	
<div 
    style="
        height: 540px; 
        width: 650px; 
        justify-content: center; 
        align-items: center;
        display: flex;
        padding: 90px;
        margin: auto; 
        margin-top: 10px; 
       
        background-image: url('{% static "assets/media/products/15351.jpg" %}'); 
        background-size: cover; 
        background-position: center;
        flex-direction: column;"> <!-- Ensures content is stacked vertically -->

    <div class="card" style="width: 300px; margin-bottom: 20px; display: flex; flex-direction: column; align-items: center;">
        <!-- Image Section -->
        <div class="card-body" style=" margin-top:30px; height: 300px; width: 300px; background-size: cover; background-image: url('{% static "assets/media/products/7.png" %}');">
            <!-- Image is displayed here -->
        </div>

        <!-- Description Section -->
        <div class="card-text" style="padding: 20px; text-align: center; width: 500px">
            <p style="font-size: 14px; font-weight: bold; margin-bottom: 10px;">ZARA WOMAN COLLECTION</p>
            <p style="font-size: 12px; margin-bottom: 10px;">
                Wool blend coat. High neck with matching scarf. Long sleeves. Front patch pockets. <br> <br>
                <span style="font-weight: bold">COMPOSITION</span><br>
                OUTER SHELL: 74% wool, 25% polyamide, 1% other fibres<br>
                LINING: 100% viscose<br>
                <span style="margin-bottom: 30px; margin-top: 60px; font-weight: bold;">CARE</span><br>
                Caring for your clothes is caring for the environment. To keep your jackets and coats clean, you only need to freshen them up and go over them with a cloth or a clothes brush. If you need to dry clean a garment, look for a dry cleaner that uses technologies that are respectful of the environment.
            
            </p>
            <button style="border-radius:5px; background: #1b84ff; color:white; padding: 10px; border:none; cursor: pointer; margin-top: 20px; ">Buy Now</button>
        </div>
    </div>
</div>
