{% load static %}

<div 
	style="font-family:Arial,Helvetica,sans-serif; line-height: 1.5; font-weight: normal; font-size: 14px; color: #2F3044; min-height: 100%; margin:0; padding:0; width:100%; background-color:#edf2f7; background-image: url('{% static "assets/media/products/15351.png" %}'); ">
	<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%"
		style="border-collapse:collapse;margin:0 auto; padding:0; max-width:600px">
		<tbody>
			<tr>
				<td align="center" valign="center" style="text-align:center;  padding: 20px; ">
					<a href="#" rel="noopener" target="_blank">
						<!-- <img alt="" width="" height="40" src="https://promtlogo.s3.ap-south-1.amazonaws.com/ProMT.png" /> -->
                         <h1>SWAP VTO</h1>
					</a>
				</td>
			</tr>
			<tr>
				<td align="left" valign="center">
					<div style="text-align:left; margin: 0 20px; padding: 40px; background-color:#ffffff; border-radius: 6px">
						<!--begin:Email content-->
						<div style="padding-bottom: 30px;">
							Hey <strong>{{name}},</strong>
						</div>
						<div style="padding-bottom: 20px">We received a request to reset the password associated with your ProMT account. To reset your password, please click the button below.</div>
						<div style="padding-bottom: 20px">
							<a href="{{url}}"
								style="background-color:#009EF7; border-radius:6px;display:inline-block; padding:11px 19px; color: #FFFFFF; font-size: 14px; font-weight:500; text-decoration:none;">Reset
								Password</a>
						</div>
						<div style="padding-bottom: 20px">
							This button will verify your identity and allow you to create a new password.<br> If you did not request a password reset, please disregard this email and contact your system administrator immediately to report suspicious activity.
						</div>

						<div style="padding-bottom: 10px">Regards,
							<br>ProMT
							<tr>
                                <td align="center" valign="center" style="font-size: 13px; text-align:center;padding: 20px; color: #6d6e7c;">
                                    {% comment %} <p> 601, J. K. COMPLEX, OFF LINK ROAD, OPP. YRF STUDIOS, ANDHERI WEST, MUMBAI - 400053</p>
                                    <p>&copy;
                                    <a href="https://letsideate.com/" rel="noopener" target="_blank">ProMT</a></p> {% endcomment %}
                                </td>
                            </tr>
							</br>
						</div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>

