{% extends 'base.html' %}
{% block content %}
{% load static %}


<div class="app-main flex-column flex-row-fluid" id="kt_app_main">
    <!--begin::Content wrapper-->
    <div class="d-flex flex-column flex-column-fluid">
        <!--begin::Toolbar-->
        <div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
            <!--begin::Toolbar container-->
            <div id="kt_app_toolbar_container" class="app-container container-xxl d-flex flex-stack">
                <!--begin::Page title-->
                <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
                    <!--begin::Title-->
                    <h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">
                        Upload apparels</h1>
                    <!--end::Title-->
                    <!--begin::Breadcrumb-->
                    <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
                        <!--begin::Item-->
                        <li class="breadcrumb-item text-muted">
                            <a href="../../demo1/dist/index.html" class="text-muted text-hover-primary">Home</a>
                        </li>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <li class="breadcrumb-item">
                            <span class="bullet bg-gray-400 w-5px h-2px"></span>
                        </li>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <li class="breadcrumb-item text-muted">Dashboards</li>
                        <!--end::Item-->
                    </ul>
                    <!--end::Breadcrumb-->
                </div>
                <!--end::Page title-->
                <!--begin::Actions-->
                <div class="d-flex align-items-center gap-2 gap-lg-3">
                    <!--begin::Secondary button-->
                    <a href="../../demo1/dist/apps/ecommerce/sales/listing.html"
                        class="btn btn-sm fw-bold bg-body btn-color-gray-700 btn-active-color-primary">Recent
                        Orders</a>
                    <!--end::Secondary button-->
                    <!--begin::Primary button-->
                    <a href="../../demo1/dist/apps/ecommerce/catalog/add-product.html"
                        class="btn btn-sm fw-bold btn-primary">New Product</a>
                    <!--end::Primary button-->
                </div>
                <!--end::Actions-->
            </div>
            <!--end::Toolbar container-->
        </div>
        <!--end::Toolbar-->
        <div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
            <!--begin::Toolbar container-->
            <div id="kt_app_toolbar_container" class="app-container container-xxl d-flex flex-stack">
                <!--begin::Page title-->
                <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
                    <!--begin::Title-->
                    <h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">Try on</h1>
                    <!--end::Title-->
                    <!--begin::Breadcrumb-->
                    <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
                        <!--begin::Item-->
                        <li class="breadcrumb-item text-muted">
                            <a href="../../demo1/dist/index.html" class="text-muted text-hover-primary">Home</a>
                        </li>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <li class="breadcrumb-item">
                            <span class="bullet bg-gray-400 w-5px h-2px"></span>
                        </li>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <li class="breadcrumb-item text-muted">Try on</li>
                        <!--end::Item-->
                    </ul>
                    <!--end::Breadcrumb-->
                </div>
                <!--end::Page title-->
                
            </div>
            <!--end::Toolbar container-->
        </div>

        <!--begin::Content-->
        <div id="kt_app_content" class="app-content flex-column-fluid ">
            <!--begin::Content container-->
            <div id="kt_app_content_container" class="app-container container-xxl">
              

            <div class="row gy-5 g-xl-10">
                <!--begin::Col-->
                <div class="col-xl-4 mb-xl-10">
                <!--begin::Table widget 2-->
                <div class="card h-md-100 h-xl-530px">
                <!--begin::Header-->
                
                <!--end::Header-->
                <!--begin::Body-->
                <div class="card-body pt-2 text-center d-flex align-items-center justify-content-center">

                    <div class="fv-row mb-7 mt-10 mt-md-0">
                        <!--begin::Label-->
                        <!--end::Label-->
                        <!--begin::Image placeholder-->
                        <style>.image-input-placeholder { background-image: url('{% static "assets/media/svg/files/blank-image.svg" %}'); } [data-bs-theme="dark"] .image-input-placeholder { background-image: url('assets/media/svg/files/blank-image-dark.svg'); }</style>
                        <!--end::Image placeholder-->
                        <!--begin::Image input-->
                        <div class="image-input image-input-outline image-input-placeholder" data-kt-image-input="true">
                            <!--begin::Preview existing avatar-->
                            <div class="image-input-wrapper w-200px h-200px" style="background-image: url( {% static 'assets/media/products/7.png' %});"></div>
                            <!--end::Preview existing avatar-->
                            <!--begin::Label-->
                            <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" title="Change avatar">
                                <i class="bi bi-pencil-fill fs-7"></i>
                                <!--begin::Inputs-->
                                <input type="file" name="avatar" accept=".png, .jpg, .jpeg" />
                                <input type="hidden" name="avatar_remove" />
                                <!--end::Inputs-->
                            </label>
                            <!--end::Label-->
                            <!--begin::Cancel-->
                            <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="cancel" data-bs-toggle="tooltip" title="Cancel avatar">
                                <i class="bi bi-x fs-2"></i>
                            </span>
                            <!--end::Cancel-->
                            <!--begin::Remove-->
                            <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="remove" data-bs-toggle="tooltip" title="Remove avatar">
                                <i class="bi bi-x fs-2"></i>
                            </span>
                            <!--end::Remove-->
                        </div>
                        <!--end::Image input-->
                        <!--begin::Hint-->
                        <div class="form-text">Allowed file types: png, jpg, jpeg.</div>
                        <!--end::Hint-->
                    </div>
                <!--begin::Nav-->
              
                <!--begin::Tab Content-->
               
                <!--end::Tab Content-->
                </div>
                <!--end: Card Body-->
                </div>
                </div>
                <!--end::Table widget 2-->
               
                <!--end::Col-->
                <!--begin::Col-->
                <div class="col-xl-8 mb-5 mb-xl-10">
                    <!--begin::Layout-->
                    <div class="d-flex flex-column flex-xl-row">
                        <!--begin::Content-->
                        <div class="d-flex flex-row-fluid me-xl-9 mb-10 mb-xl-0">
                            <!--begin::Pos food-->
                            <div class="card card-flush card-p-0 bg-transparent border-0">
                                <!--begin::Body-->
                                <div class="card-body">
                                    <!--begin::Tab Content-->
                                    <div class="tab-content">
                                        <!--begin::Tab Pane-->
                                        <div class="tab-pane fade show active" id="kt_pos_food_content_1">
                                            <!--begin::Wrapper-->
                                            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-10 justify-content-center">
                                                <!--begin::Card-->
                                                <div class="col">
                                                    <div class="card card-flush p-6 pb-5 h-200px w-md-200px w-100">
                                                        <div class="card-body text-center">
                                                            <img src="{% static 'assets/media/products/8.png' %}" 
                                                                class="rounded-3 mb-4 w-100px h-150px w-xxl-150px" alt="" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--end::Card-->
                
                                                <!--repeat similar cards-->
                                                <div class="col">
                                                    <div class="card card-flush p-6 pb-5 h-200px w-md-200px w-100">
                                                        <div class="card-body text-center">
                                                            <img src="{% static 'assets/media/products/9.png' %}" 
                                                                class="rounded-3 mb-4 w-100px h-150px w-xxl-150px" alt="" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="card card-flush p-6 pb-5 h-200px w-md-200px w-100">
                                                        <div class="card-body text-center">
                                                            <img src="{% static 'assets/media/products/7.png' %}" 
                                                                class="rounded-3 mb-4 w-100px h-150px w-xxl-150px" alt="" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="card card-flush p-6 pb-5 h-200px w-md-200px w-100">
                                                        <div class="card-body text-center">
                                                            <img src="{% static 'assets/media/products/8.png' %}" 
                                                                class="rounded-3 mb-4 w-100px h-150px w-xxl-150px" alt="" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--end cards-->
                                            </div>
                                            <!--end::Wrapper-->
                                        </div>
                                        <!--end::Tab Pane-->
                                        
                                        <div class="tab-pane fade mt-10" id="kt_pos_food_content_2">
                                            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-10">
                                                <!-- Cards for the second tab -->
                                            </div>
                                        </div>
                                    </div>
                                    <!--end::Tab Content-->
                                </div>
                                <!--end::Card Body-->
                            </div>
                            <!--end::Pos food-->
                        </div>
                        <!--end::Content-->
                    </div>
                    <div class="d-flex flex-column flex-xl-row mt-10">
                        <!--begin::Content-->
                        <div class="d-flex flex-row-fluid me-xl-9 mb-10 mb-xl-0">
                            <!--begin::Pos food-->
                            <div class="card card-flush card-p-0 bg-transparent border-0">
                                <!--begin::Body-->
                                <div class="card-body">
                                    <!--begin::Tab Content-->
                                    <div class="tab-content">
                                        <!--begin::Tab Pane-->
                                        <div class="tab-pane fade show active" id="kt_pos_food_content_1">
                                            <!--begin::Wrapper-->
                                            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-10 justify-content-center">
                                                <!--begin::Card-->
                                                <div class="col">
                                                    <div class="card card-flush p-6 pb-5 h-200px w-md-200px w-100">
                                                        <div class="card-body text-center">
                                                            <img src="{% static 'assets/media/avatars/300-1.jpg' %}" 
                                                                class="rounded-3 mb-4 w-100px h-150px w-xxl-150px" alt="" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--end::Card-->
                
                                                <!--repeat similar cards-->
                                                <div class="col">
                                                    <div class="card card-flush p-6 pb-5 h-200px w-md-200px w-100">
                                                        <div class="card-body text-center">
                                                            <img src="{% static 'assets/media/products/9.png' %}" 
                                                                class="rounded-3 mb-4 w-100px h-150px w-xxl-150px" alt="" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="card card-flush p-6 pb-5 h-200px w-md-200px w-100">
                                                        <div class="card-body text-center">
                                                            <img src="{% static 'assets/media/products/7.png' %}" 
                                                                class="rounded-3 mb-4 w-100px h-150px w-xxl-150px" alt="" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="card card-flush p-6 pb-5 h-200px w-md-200px w-100">
                                                        <div class="card-body text-center">
                                                            <img src="{% static 'assets/media/products/8.png' %}" 
                                                                class="rounded-3 mb-4 w-100px h-150px w-xxl-150px" alt="" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--end cards-->
                                            </div>
                                            <!--end::Wrapper-->
                                        </div>
                                        <!--end::Tab Pane-->
                                        
                                        <div class="tab-pane fade mt-10" id="kt_pos_food_content_2">
                                            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-10">
                                                <!-- Cards for the second tab -->
                                            </div>
                                        </div>
                                    </div>
                                    <!--end::Tab Content-->
                                </div>
                                <!--end::Card Body-->
                            </div>
                            <!--end::Pos food-->
                        </div>
                        <!--end::Content-->
                    </div>
                    <!--end::Layout-->
                </div>
                
                
                <!--end::Col-->
            </div>
           <div class="container d-flex justify-content-center"><button class="btn btn-primary">Try on</button></div>
            



            
            </div>
            <!--end::Layout-->
        </div>
        <!--end::Content container-->
    </div>
    <!--end::Content-->
</div>


{% endblock %}

